

body {
  background-color: white;
  color: #333333;


}


.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.card {
  width: 300px;
  border: 2px solid #dbdcdd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
}


.card:hover {
  background-color: #0073e6;
  color: white;
}


.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* T铆tulo */
.card-title {
  color: #003366;
  text-align: center;
}

/* Enlace */
.card-link {
  color: #0073e6;
  text-align: center;
  display: block;
}

.card-link:hover {
  color: #003366;
}

#root {
    display: block;
    color: black;
    position: relative;
    z-index: 10; 
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Orbitron', sans-serif;
    margin-right: 50px;

}

header, footer {
    display: flex;
    align-items: center;
    justify-content: start; 
    background-color: #0073e6;
    color: white;
    padding: 20px;
    font-size: 30px;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.texto {
    font-size: 30px;
    padding-left: 100px;
    margin-bottom: 50px;
}


/*RESPONSIVE

/* Estilos generales */
body {
  background-color: white;
  color: #333;
  font-family: 'Orbitron', sans-serif;
}

/* Contenedor de tarjetas */
.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Estilos b谩sicos */
.card {
  width: 100%; /* Ajustable */
  border: 2px solid #dbdcdd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

/* Imagen dentro de la tarjeta */
.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* Header y Footer Responsivos */
header, footer {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrado en m贸vil */
  background-color: #0073e6;
  color: white;
  padding: 20px;
}

/*  Responsive Design */

/* Hasta 575px (M贸viles peque帽os) */
@media (max-width: 575px) {
  .card {
    width: 90%; /* Reduce ancho */
  }
  .card img {
    width: 60px; /* Reduce imagen */
    height: 60px;
  }
  header, footer {
    font-size: 22px;
    flex-direction: column; /* Apila elementos */
    text-align: center;
  }
}

/* Desde 576px (M贸viles medianos) */
@media (min-width: 576px) {
  .card {
    width: 80%;
  }
  .card img {
    width: 70px;
    height: 70px;
  }
}

/* Desde 768px (Tabletas) */
@media (min-width: 768px) {
  .card {
    width: 45%;
  }
  header {
    justify-content: start; /* Alineaci贸n izquierda */
  }
}

/* Desde 992px (Escritorio) */
@media (min-width: 992px) {
  .card {
    width: 300px; /* Tama帽o fijo */
  }
  header {
    font-size: 30px;
  }
}

